@font-face {
  font-family: "Lexend";
  src: url(../fonts/Lexend-Regular.ttf);
  src: url(../fonts/Lexend-Medium.ttf);
  src: url(../fonts/Lexend-SemiBold.ttf);
  font-style: normal;
  font-weight: normal;
}
body {
  color: #fff;
  background-color: #191d0a;
  font-family: "Lexend";
  font-weight: 400;
}

.container {
  max-width: 1940px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --accent: #f97247;
  --bred: #311212;
}

.header__nav {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  align-items: center;
  height: 96px;
  font-size: 16px;
  line-height: 20px;
  padding: 0 62px;
  border: 4px solid var(--accent);
  border-radius: 64px;
}
@media (max-width: 1370px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
}

.header__nav-list {
  display: flex;
  gap: 32px;
  grid-column-start: 2;
  justify-content: center;
}
@media (max-width: 1370px) {
  .header__nav-list {
    gap: 20px;
  }
}

.header__nav-item {
  flex-shrink: 0;
}

.header__nav-link {
  color: #fff;
}

.header__user {
  display: flex;
  gap: 14px;
  justify-self: flex-end;
}
@media (max-width: 600px) {
  .header__user {
    display: none;
  }
}

.login {
  color: #fff;
  padding: 14px;
  border: 2px solid #ebf29d;
  border-radius: 24px;
}

.signup {
  color: #fff;
  padding: 14px;
  background-color: var(--accent);
  border-radius: 24px;
}

.language {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #fff;
  padding: 14px;
  border: 2px solid #ebf29d;
  border-radius: 24px;
}

.banner {
  display: grid;
  grid-template-columns: 5fr 3fr 4fr;
  align-items: center;
  height: 960px;
  position: relative;
  gap: 15px;
}
.banner::after {
  position: absolute;
  content: "";
  filter: blur(650px);
  height: clamp(15rem, 9.036rem + 29.82vw, 35.875rem);
  width: clamp(15rem, 9.036rem + 29.82vw, 35.875rem);
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: linear-gradient(to bottom, #f99247, #f29da2);
  pointer-events: none;
}
@media (min-height: 1300px) {
  .banner {
    justify-content: space-around;
    min-height: 100vh;
  }
}
@media (max-width: 1450px) {
  .banner {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .banner {
    margin-top: 70px;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    min-height: 1436px;
  }
}

.banner-text {
  max-width: 662px;
  font-weight: 600;
  position: relative;
}
.banner-text::after {
  position: absolute;
  content: "";
  height: 146px;
  width: clamp(18.75rem, 0.357rem + 91.96vw, 83.125rem);
  transform: rotate(35deg);
  z-index: 10;
  bottom: 0;
  left: -50%;
  background: linear-gradient(to bottom, #f947bc, #f9477c);
  filter: blur(300px);
  z-index: -1;
  opacity: 55%;
}
@media (max-width: 1024px) {
  .banner-text {
    margin-bottom: 54px;
  }
}

.banner__title {
  font-size: clamp(3.75rem, 1.179rem + 4.02vw, 6rem);
  margin-bottom: 24px;
}

.title__span {
  color: var(--accent);
}

.banner__paragraph {
  font-size: 32px;
  opacity: 0.6;
  margin-bottom: 48px;
}

.banner__button {
  border-radius: 48px;
  padding: 20px 4rem;
  background-color: var(--accent);
  font-size: 24px;
  line-height: 32px;
  font-weight: bolder;
  text-transform: uppercase;
}

.tickers {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  min-width: 240px;
}

@keyframes ticker-slide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
} 
@keyframes ticker-slide2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.ticker__item {
  padding: 10px 0;
  width: -moz-fit-content;
  width: fit-content;
}

.ticker__wrap-1 ul {
  animation: ticker-slide 7s linear infinite;
  opacity: 20%;
}

.ticker__wrap-2 ul {
  animation: ticker-slide2 7s linear infinite;
  opacity: 60%;
}

.ticker__wrap-3 ul {
  animation: ticker-slide 10s linear infinite;
  opacity: 40%;
}

.blub {
  max-width: 531px;
}
@media (max-width: 1024px) {
  .blub {
    margin-bottom: 72px;
  }
}

.blub__title {
  font-size: clamp(2.188rem, 1.83rem + 0.56vw, 2.5rem);
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
}

.blub__block {
  padding: 0 16px 0 24px;
  border: 1px solid var(--accent);
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: clamp(3.125rem, 2.232rem + 4.46vw, 6.25rem);
  overflow: hidden;
}
@media (max-width: 1024px) {
  .blub__block {
    height: 500px;
  }
}

.blub__wrapper {
  padding-top: 16px;
  max-height: 600px;
  overflow-x: hidden;
  position: relative;
  text-align: start;
}
.blub__wrapper::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.12);
  width: 8px;
}
.blub__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 150px;
}
@media (max-width: 1440px) {
  .blub__wrapper {
    max-height: 450px;
  }
}
@media (max-width: 1024px) {
  .blub__wrapper {
    max-height: 500px;
  }
}

.blub__item {
  padding: 16px clamp(2.188rem, 1.67rem + 2.59vw, 4rem);
  border-radius: clamp(2.813rem, 0.116rem + 13.48vw, 12.25rem);
  background-color: var(--bred);
  margin-bottom: 16px;
  margin-right: 8px;
}

.blub__active {
  background-color: var(--accent);
}

.blub__text {
  font-size: clamp(1rem, -0.231rem + 1.92vw, 1.5rem);
  line-height: clamp(1rem, -0.846rem + 2.88vw, 1.75rem);
  margin-bottom: 14px;
}

.blub__date {
  font-size: 14px;
  line-height: 18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 24px;
  background-color: #311212;
  border-radius: 64px 64px 0 0;
  border: 4px solid var(--accent);
  border-bottom: none;
}
.footer a {
  transition: color 0.2s ease-in;
}
.footer a:hover {
  color: #f97247;
  opacity: 0.9;
}
@media (max-width: 800px) {
  .footer {
    display: grid;
  }
  .footer .footer__info {
    display: none;
  }
}

.footer__info {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}

.footer-link {
  color: #fff;
}

.footer__active {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}
.footer__active:hover {
  opacity: 1 !important;
}

.footer__socials {
  display: flex;
  gap: 8px;
}

.footer__socials-item a {
  display: block;
  height: 32px;
  color: #f97247;
}
.footer__socials-item a:hover {
  color: #478bf9;
  opacity: 0.9;
}

.socials__wrap {
  display: grid;
}

.media {
  justify-self: flex-end;
  margin-bottom: 14px;
}
@media (max-width: 800px) {
  .media {
    justify-self: unset;
  }
}

.footer__mobile-nav {
  display: grid;
  gap: 2px;
  margin-bottom: 20px;
}
.footer__mobile-nav a {
  color: #fff;
}
@media (min-width: 800px) {
  .footer__mobile-nav {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header__user button, .header__user a {
    flex-shrink: 0;
  }
}

@media (max-width: 1000px) {
  .header__nav-list {
    display: none;
  }
}

.mobile__nav {
  display: none;
}
@media (max-width: 1000px) {
  .mobile__nav {
    display: block;
    width: 100%;
  }
}

.mobile__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.mobile__lang img {
  border: 1px solid #ebf29d;
  border-radius: 50%;
  padding: 8px;
}

@media (max-width: 1024px) {
  .tickers {
    display: none;
  }
}

.tickers__X {
  display: none;
}
@media (max-width: 1024px) {
  .tickers__X {
    display: block;
    width: 100%;
    overflow: hidden;
  }
}

.ticker__X-wrap ul {
  display: flex;
  gap: 12px;
}

.ticker__ul li {
  flex-shrink: 0;
}
.ticker__ul li img {
  height: clamp(3.125rem, 1.705rem + 7.1vw, 6.25rem);
}

@keyframes ticker-slide-b {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} 
@keyframes ticker-slide2-b {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.ticker__content ul {
  animation: ticker-slide2-b 7s linear infinite;
  opacity: 0.4;
}

.ticker__content-2 ul {
  animation: ticker-slide2-b 12s linear infinite;
  opacity: 0.7;
}

.ticker__content-3 ul {
  animation: ticker-slide-b 8s linear infinite;
  opacity: 0.5;
}

.ticker__content {
  padding: 10px 0;
  width: 100%;
}/*# sourceMappingURL=main.css.map */