.banner {
	display: grid;
	grid-template-columns: 5fr 3fr 4fr;
	align-items: center;
	height: 960px;
	position: relative;
	gap: 15px;

	&::after {
		position: absolute;
		content: '';
		filter: blur(650px);
		height: clamp(15rem, 9.036rem + 29.82vw, 35.875rem);
		width: clamp(15rem, 9.036rem + 29.82vw, 35.875rem);
		right: 0;
		bottom: 0;
		border-radius: 50%;
		background: linear-gradient(to bottom, #f99247, #f29da2);
		pointer-events: none;
	}
	@media (min-width: 2000px) {
		min-height: 50vh;
	}

	@media (max-width: 1450px) {
		display: flex;
	}

	@media (max-width: 1024px) {
		margin-top: 70px;
		flex-direction: column;
		text-align: center;
		height: 1436px;
	}
}

.banner-text {
	max-width: 662px;
	font-weight: 600;
	position: relative;
	&::after {
		position: absolute;
		content: '';
		height: 146px;
		width: clamp(18.75rem, 0.357rem + 91.96vw, 83.125rem);
		// box-shadow: 0px 0px 0px 10px linear-gradient(#f947bc, #f9477c);
		transform: rotate(35deg);
		z-index: 10;
		bottom: 0;
		left: -50%;
		background: linear-gradient(to bottom, #f947bc, #f9477c);
		filter: blur(300px);
		z-index: -1;
		opacity: 55%;
	}
	@media (max-width: 1024px) {
		margin-bottom: 54px;
	}
}

.banner__title {
	font-size: clamp(3.75rem, 1.179rem + 4.02vw, 6rem);
	margin-bottom: 24px;
}
.title__span {
	color: var(--accent);
}

.banner__paragraph {
	font-size: 32px;
	opacity: 0.6;
	margin-bottom: 48px;
}
.banner__button {
	border-radius: 48px;
	padding: 20px 4rem;
	background-color: var(--accent);
	//
	font-size: 24px;
	line-height: 32px;
	font-weight: bolder;
	text-transform: uppercase;
}
