.header__user {
	@media (max-width: 1000px) {
		a {
			flex-shrink: 0;
		}
		button {
			display: none;
		}
	}
}

.header__nav-list {
	@media (max-width: 1000px) {
		display: none;
	}
}

.mobile__nav {
	display: none;
	@media (max-width: 1000px) {
		display: block;
		width: 100%;
	}
}

.mobile__buttons {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
}

.mobile__lang {
	height: 34px;
	svg {
		width: 100%;
		border: 1px solid #ebf29d;
		border-radius: 50%;
		color: #ebf29d;
		padding: 8px;
	}
}

.mobile__wrapper {
	display: none;
}

.mobile__wrapper-active {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	z-index: 1;
	background-color: #191d0a;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 10px 0;
	overflow: overlay;
}

.mwrapper__nav {
	display: flex;
	justify-content: flex-end;
	padding: 10px 14px;
	border: 2px solid var(--accent);
	border-radius: 64px;
	gap: clamp(0.313rem, 0.018rem + 1.47vw, 0.938rem);
}

.mwrapper_item {
	padding: 13px 20px;
	width: 100%;
	border: 2px solid var(--accent);
	border-radius: 64px;
	margin: clamp(0.313rem, 0.018rem + 1.47vw, 0.938rem) 0;
}
.mwrapper__link {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.mwrapper__login {
	display: grid;
	gap: clamp(0.313rem, 0.018rem + 1.47vw, 0.938rem);
	@media (min-width: 600px) {
		display: none;
	}
}
.mwrapper__log {
	background-color: #311212;
	border: 2px solid #ebf29d;
}
.mwrapper__sign {
	background-color: #f97247;
}
.mwrapper__login-btn {
	padding: 12px 0;
	width: 100%;
	border-radius: 24px;
}
