@font-face {
	font-family: 'Lexend';
	src: url(../fonts/Lexend-Medium.ttf);
	src: url(../fonts/Lexend-Regular.ttf);
	src: url(../fonts/Lexend-SemiBold.ttf);
	font-style: normal;
	font-weight: normal;
}

body {
	color: #fff;
	background-color: #191d0a;
	font-family: 'Lexend';
	font-weight: 400;
}

.container {
	max-width: 1940px;
	padding: 0 10px;
	margin: 0 auto;
}
